[user]
	email = justinjoseph0007@gmail.com
	name = Justin K -Work
	; Use names like Justin K -W10 / Justin K -Work / Justin K -School / Justin K -Linux

; I pay for the campaign
[magit]
	hideCampaign = true
