language: elisp

services:
  - docker

notifications:
  email:
    on_success: never # default: change
    on_failure: always # default: always

before_install:
  - mkdir ~/.emacs.d/
  - mkdir -p ~/.config/systemd/user/ # For the emacs deamon service file
  - cd ${TRAVIS_BUILD_DIR}
  - ./copy.sh                    # Copy all the repository files to home

script:
  - ls -l ~/.emacs.d
  - docker run -v ~/.emacs.d:/root/.emacs.d -it --rm silex/emacs:27.1 emacs --batch --load /root/.emacs.d/init.el --kill
